:root {
    --black: #000000;
    --grey: #C0C0C0;
    --gold: #E5C100;
    --deep-purple: #6F2DA8;
    --deep-blue: #0A1931;
    --red: #D8232A;
    --white: #FFFFFF;
    --metallic-silver: #C4C4C4;
    --space-black: #1A1A1D;
    --neon-purple: #660099;
    --fire-gold: #FFCC00;
    --yellow-color: #FFC727;
    --deep-red: #990000;
}

/* Classes for Background Colors */
.bg-black { background-color: var(--black); }
.bg-grey { background-color: var(--grey); }
.bg-gold { background-color: var(--gold); }
.bg-deep-purple { background-color: var(--deep-purple); }
.bg-deep-blue { background-color: var(--deep-blue); }
.bg-red { background-color: var(--red); }
.bg-white { background-color: var(--white); }
.bg-metallic-silver { background-color: var(--metallic-silver); }
.bg-space-black { background-color: var(--space-black); }
.bg-neon-purple { background-color: var(--neon-purple); }
.bg-fire-gold { background-color: var(--fire-gold); }
.bg-deep-red { background-color: var(--deep-red); }
.bg-yellow { background-color: var(--yellow-color); }

/* Classes for Text Colors */
.text-black { color: var(--black); }
.text-grey { color: var(--grey); }
.text-gold { color: var(--gold); }
.text-deep-purple { color: var(--deep-purple); }
.text-deep-blue { color: var(--deep-blue); }
.text-red { color: var(--red); }
.text-white { color: var(--white); }
.text-metallic-silver { color: var(--metallic-silver); }
.text-space-black { color: var(--space-black); }
.text-neon-purple { color: var(--neon-purple); }
.text-fire-gold { color: var(--fire-gold); }
.text-deep-red { color: var(--deep-red); }
.text-yellow { color: var(--yellow-color); }

/* Classes for Border Colors */
.border-black { border: 2px solid var(--black); }
.border-grey { border: 2px solid var(--grey); }
.border-gold { border: 2px solid var(--gold); }
.border-deep-purple { border: 2px solid var(--deep-purple); }
.border-deep-blue { border: 2px solid var(--deep-blue); }
.border-red { border: 2px solid var(--red); }
.border-white { border: 2px solid var(--white); }
.border-metallic-silver { border: 2px solid var(--metallic-silver); }
.border-space-black { border: 2px solid var(--space-black); }
.border-neon-purple { border: 2px solid var(--neon-purple); }
.border-fire-gold { border: 2px solid var(--fire-gold); }
.border-deep-red { border: 2px solid var(--deep-red); }
.border-yellow { border: 2px solid var(--yellow-color); }
